<ng-container *ngIf="(login.isLoggedIn$ | async)">
<div class="goalsPanel">
<p>Goals:</p>
<ul>
	<li *ngFor="let goal of goals" (click)="toggleExpanded(goal)">
		[id={{goal.id}}] {{goal.name}} <button class="delete" title="delete goal"
      (click)="deleteGoal(goal)">x</button>
		<div *ngIf="isExpanded.get(goal)">{{goal.desc? goal.desc : "(No description)"}} <a routerLink="/goal-details/{{goal.id}}">Edit</a></div>
	</li>
</ul>
<div>
	<label>
		<input #goalName placeholder="name">
	</label>
	<label>
		<input #goalDesc placeholder="description">
	</label>
	<button (click)="addGoal(goalName.value, goalDesc.value)">New Goal</button>
</div>
</div> 
</ng-container>